*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@property --rotate{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;
}
@keyframes rotatechange{
    from{
        --rotate:0deg
    }
    to{
        --rotate:360deg
    }
}
.box{
    width: 200px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0px 0px 20px purple;
    background:linear-gradient(black) content-box 
    ,conic-gradient(from var(--rotate),rgb(0, 0, 0),rgb(129, 50, 50),black) border-box;
animation: rotatechange 10s;
animation-iteration-count: infinite;
}
.box img{
height: 100%;
width: 100%;
}