*{
    margin: 0;padding: 0;box-sizing: border-box;
}
html,body{
    height: 100%;width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}
main{
    height: 100%;width: 100%;
background-color: black;    
padding: 3rem;
display: flex;
flex-direction: column;
position: relative;
gap: 1rem;
}
button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
}
button:active{
    transform: scale(0.95);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
}
.score, .highscore, .time{
    display: flex;
    flex-direction: column;
    gap: .4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
section{
flex-grow: 1;
width: 100%;
border: 1px solid white;
display: grid;
grid-template-columns:repeat(auto-fill, minmax(60px,1fr));
grid-template-rows: repeat(auto-fill,minmax(60px,1fr));
}
.box{
height: 60px;
width: 60px;
border: 1px solid white;
border-radius: 50%;
color: white;
font-size: 0.6rem;
}
.fill{
    background-color: red;
}
.food{
    background-color: wheat !important;
}
.modal{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal2{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
    justify-content: center;

}
.start,.restart{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    /* position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1; */
    color: white;
}
.restart button{
    padding: 10px 65px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.start button{
    padding: 10px 65px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
